################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BoulderDash/.vs/BoulderDash/v15/Server/sqlite3
/BoulderDash/bin/Android/AnyCPU/Debug
/BoulderDash/obj
/BoulderDash/BoulderDash.csproj.user
/BoulderDash/Content/bin/Android
/BoulderDash/Content/obj/Android
*.png
*.mgcb
/GameData/obj
/GameData/bin/Debug
/BoulderDash/Assets/Content
/BoulderDash/Content/Scenes/TitleScene.xml
*.spritefont
/Shared/bin/Debug
/Shared/obj
